.page-name {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 2.66;
  letter-spacing: 0.08333em;
  text-transform: uppercase;
}

.form-outer {
  display: flex;
  justify-content: center;
  width: 50%;
  /* margin-left: 15px; */
}

.edit-form {
  background-color: var(--azure);
  padding: 15px;
  border: 1px solid var(--azure);
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 2px 1px var(--cambridge);
  -moz-box-shadow: 0px 2px 2px 1px var(--cambridge);
  box-shadow: 0px 2px 2px 1px var(--cambridge);
}

.title {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 2.66;
  letter-spacing: 0.08333em;
  text-transform: uppercase;
}

.title img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.edit-form button {
  align-self: center;
  margin-top: 15px;
}

h6 {
  margin: 0 0 15px 0;
}

.card {
  margin-bottom: 15px;
}
.information {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.address {
  text-align: left;
  margin: 5px 0;
}

.input-label {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.input-label label {
  width: 20%;
  min-width: 120px;
}
.input-label input {
  width: 60%;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background-color: var(--azure);
}

.lists {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

.favorites {
  min-width: 50%;
}

.favorites h4 {
  text-align: center;
}

.favorites ul {
  padding: 0;
}

.favorites li {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.jobPosts {
  min-width: 50%;
}

.jobPosts h4 {
  text-align: center;
}

.ul-jobposts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 15px;
}

.country {
  padding: 15px;
}

.skills ul {
  flex-wrap: wrap;
}

.country {
  min-width: 85px;
}

.button {
    display: flex;
    justify-content: center;
}