.form-outer {
  background-color: var(--azure);
  border: 1px solid var(--azure);
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 2px 1px var(--cambridge);
  -moz-box-shadow: 0px 2px 2px 1px var(--cambridge);
  box-shadow: 0px 2px 2px 1px var(--cambridge);
}

@media (max-width: 1250px) {
  .media-break {
    flex-direction: column;
    gap: 2rem;
  }
}
