.flexyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shadowBox{
    border:1px solid grey ;
    border-radius:30px;
    margin: 50px;
    margin-top:30px;
    margin-bottom:30px !important;
    -webkit-box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.51);
    box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.51);
    padding:20px 50px !important
}