.ul-jobposts {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  padding: 0;
}
.favorites{
    width: 100%;
    max-width: 50%;
}
.card {
    margin-bottom: 15px;
}
.edit-form {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.title{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
}

.title img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.edit-form button {
  width: 35%;
  align-self: center;
  margin-top: 15px;
}

h6{
    margin: 0 0 15px 0;
}

.information {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 15px ;
}
.address{
    text-align: left;
 margin: 5px 0;
}

.input-label {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input-label label{
    width: 20%;
    min-width: 120px;
}
.input-label input{
    width: 60%;
}

.jobPosts h4 {
    text-align: left;
    margin-left: 15px;
}

.lists{
    display: flex;
    justify-content: space-around;
}

.favorites ul {
    padding: 0;
}
.favorites li{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.country{
    padding: 15px;
}
