.ul-navbar{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    padding: 20px;
    padding-right: 40px;
    gap: 20px;
    justify-content: flex-end;
    background: var(--mint-green);
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}
li button {
    background: unset;
    border: unset;
}