:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --viridian: #6B9080;
  --cambridge: #A4C3B2;
  --mint-green: #CCE3DE;
  --azure: #EAF4F4;
  --mint-cream: #F6FFF8;
}

.MuiCardHeader-title {
  font-weight: bold !important;
  font-size: 1rem !important;
}

.jobCard {
  background-color: #EAF4F4 !important;
}