:root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --viridian: #6b9080;
  --cambridge: #a4c3b2;
  --mint-green: #cce3de;
  --azure: #eaf4f4;
  --mint-cream: #f6fff8;
}

body {
  margin: 0;
}

button:hover {
  color: darkslategrey;
  background-color: var(--mint-green) !important;
}

.MuiCardHeader-title {
  font-weight: bold !important;
  font-size: 1rem !important;
}

.jobCard {
  background-color: #eaf4f4 !important;
}

.MuiAutocomplete-hasPopupIcon .MuiChip-deleteIcon {
  display: none !important;
}

.calendly-inline-widget {
  height: 700px !important;
}

.prompt a {
  color: #6b9080 !important;
}

.profilePic:hover {
  cursor: pointer;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 1250px) {
  .media-break {
    flex-direction: column;
    gap: 2rem;
  }
  .column-break {
    flex-direction: column !important;
    gap: 0.5rem !important;
  }
  .column-reverse {
    align-items: start !important;
    flex-direction: column-reverse;
  }
  .media-expand {
    min-width: 100% !important;
  }
  .nobottom {
    padding-bottom: 0 !important;
  }
  .notop {
    padding-top: 0 !important;
  }
  .collapsemobile {
    display: none;
  }
  .filterCtn {
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
    min-width: 350px;
  }
}

@media (min-width: 1250px) {
  span.MuiSkeleton-rounded {
    width: 750px;
  }
}
