:root {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --viridian: #6b9080;
  --cambridge: #a4c3b2;
  --mint-green: #cce3de;
  --azure: #eaf4f4;
  --mint-cream: #f6fff8;
  
}

body {
  margin: 0;
}

button:hover {
  color: darkslategrey;
  background-color: var(--mint-green) !important;
}

.MuiCardHeader-title {
  font-weight: bold !important;
  font-size: 1rem !important;
}

.jobCard {
  background-color: #eaf4f4 !important;
}

.MuiAutocomplete-hasPopupIcon .MuiChip-deleteIcon {
  display: none !important;
}

.calendly-inline-widget {
  height: 700px !important;
}
